input {
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #79808a;
}

table {
    border-collapse: collapse;
}

th {
    padding: 0px 5px;
}

caption {
    margin-bottom: 5px;
}

.general {
    min-height: 680px;
    text-align: center;
    background-image: linear-gradient(to bottom, #c2d1ea, #b7becc);
    box-shadow: 0 1px 5px rgba(0,0,0,0.75);
    border: 1px solid black;
}

.message {
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;

}