.mainItem {
    grid-area: main;
    background-color: white;
}
/* для первой страницы */

.cspContainer {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    "time1 . time2"
    ". button ."
    "table1 . table2";
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.timeItem1 {
    grid-area: time1;
    background-color: aquamarine;
}

.timeItem2 {
    grid-area: time2;
    background-color: aquamarine;
}

.buttonItem {
    grid-area: button;
    background-color: black;
}

.tableItem1 {
    grid-area: table1;
    background-color: blue;
}

.tableItem2 {
    grid-area: table2;
    background-color: blue;
}