.mainItem {
    grid-area: main;
    background-color: white;
}
/* для первой страницы */

.cspContainer {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    "time"
    "table1"
    "table2";
    grid-template-rows: auto;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center;
}