.appContainer {
    max-width: 1200px;
    max-height: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "s m"
    "f f";
    grid-template-rows: 5em 30em 5em;
    grid-template-columns: 15% 85%;
}

.headerItem {
    grid-area: h;
    background-color:dodgerblue;
}

.sidebarItem {
    grid-area: s;
    background-color:deepskyblue;
}

.mainItem {
    grid-area: m;
    background-color: white;
}

.footerItem {
    grid-area: f;
    background-color: dodgerblue;
}




